In [1]:
import string
import re
import pandas as pd
from nltk.tokenize import word_tokenize

In [2]:
# Read the csv file in to a pandas dataframe
df = pd.read_csv('C:\\Users\\HP M6\\NLP\\Build_DomSp_Models\\Data\\stackexchange_812k.csv.gz', 
                 compression='gzip', header=0, sep=',', quotechar='"')
df.tail()

,post_id,parent_id,comment_id,text,category
812127,279994,NaN,536471.0,"It does run, and gives very valid looking esti...",comment
812128,279998,NaN,536439.0,It seems to me that you are correct; the doubl...,comment
812129,279998,NaN,536514.0,It wouldn't be the first time a grader has mis...,comment
812130,279999,NaN,536802.0,The basic idea is to compare the clustering co...,comment
812131,279999,NaN,542550.0,"As per your other question, your data does not...",comment

In [4]:
def process_text(text):
    # lower text
    text = text.lower()
    # tokenize_text
    text = [word for word in word_tokenize(text)]
    # join all
    text = " ".join(text)
    return(text)

In [5]:
# Adds a new column 'Cleaned_text'
df['Processed_text'] = df['text'].apply(lambda x: process_text(x))

In [11]:
df.iloc[0:1000,:]

,post_id,parent_id,comment_id,text,category,Processed_text
0,1,NaN,NaN,Eliciting priors from experts,title,eliciting priors from experts
1,2,NaN,NaN,What is normality?,title,what is normality ?
2,3,NaN,NaN,What are some valuable Statistical Analysis op...,title,what are some valuable statistical analysis op...
3,4,NaN,NaN,Assessing the significance of differences in d...,title,assessing the significance of differences in d...
4,6,NaN,NaN,The Two Cultures: statistics vs. machine learn...,title,the two cultures : statistics vs. machine lear...
...,...,...,...,...,...,...
995,6182,NaN,NaN,Predicting number of events with 99.9% probabi...,title,predicting number of events with 99.9 % probab...
996,6189,NaN,NaN,What is the interpretation of interquartile ra...,title,what is the interpretation of interquartile ra...
997,6206,NaN,NaN,How to plot decision boundary in R for logisti...,title,how to plot decision boundary in r for logisti...
998,6208,NaN,NaN,Should I include an argument to request type-I...,title,should i include an argument to request type-i...
999,6219,NaN,NaN,What does RMS stand for?,title,what does rms stand for ?

In [13]:
df.iloc[ : 999,:].to_csv('stackexchange_812k_v1.csv', index=False) # Save first 1000 rows to csv